@page "/fetchdata"
@using global::SharedProject.models
@using SharedProject.enums
@inject HttpClient Http

<PageTitle>Play Options</PageTitle>

<h1>Play Options</h1>

<p>Play options of the specified card</p>

@if (playOption == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table style="width: 551px; height: 119px">
        <thead>
        <tr>
            <th style="text-align: center">CardId</th>
            <th style="text-align: center">Fast/Slow Indicator</th>
            <th style="text-align: center">Fever/Trance Show</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th style="text-align: center">@playOption.CardId</th>
            <th style="text-align: center">@playOption.FastSlowIndicator</th>
            <th style="text-align: center">@playOption.FeverTrance</th>
        </tr>
        </tbody>
    </table>
}

<EnumSelect TEnum="PlayOptions.FastSlowIndicator" OnSelectedItemChanged="handleChange" />

@code {
    private PlayOption? playOption;
    
    private void handleChange(PlayOptions.FastSlowIndicator fastSlowIndicator)
    {
        Console.WriteLine(fastSlowIndicator);
    }

    protected override async Task OnInitializedAsync()
    {
        playOption = await Http.GetFromJsonAsync<PlayOption>("api/PlayOption?cardId=7020392010281502");
    }
}