<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="AvatarCount" value="323"/>
        <add key="NavigatorCount" value="94"/>
        <add key="ItemCount" value="21"/>
        <add key="SkinCount" value="21"/>
        <add key="SeCount" value="26"/>
        <add key="TitleCount" value="5273"/>
        <add key="MusicDBName" value="music4MAX465.db3"/>
		<add key="ServerIp" value="127.0.0.1"/>
    </appSettings>
</configuration>
